<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
            <input type="file" (change)="uploadFile($event)">
        </div>

        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Email" formControlName="name">
        </div>

        <div class="form-group input-group-lg">
            <input class="form-control" placeholder="Password" formControlName="password">
        </div>

        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Submit</button>
        </div>
    </form>
</div>